<%- include('Header'); -%>

<div class="container">
    <div class="sidebar">
        <div class="side_title">
            <h4>Pantera</h4>
            <p>Creative React Blog Template</p>
        </div>
        <ul>
        <li>BLOG</li>
        <li>POSTS</li>  
        <li>DASHBOARD</li>  
        <li>LOGOUT</li>  
    </ul>
    </div>
    <div class="content"></div>
</div>

<%- include('Footer'); -%>

