






<%- include('Header'); -%>

<div class="container">
    <div class="sidebar">
        <div class="side_title">
            <h4>Pantera</h4>
            <p>Creative React Blog Template</p>
        </div>
        <ul>
        <li>HOME</li>
        <li> <a href="/newPost">ADD POST</a> </li>
        <li>DASHBOARD</li>  
        <li>LOGOUT</li>  
    </ul>
    </div>
    <div class="content">
      <table>
        <tr>
          <th>Post ID</th>
          <th>Post Title</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Sample Post 1</td>
          <td> <button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Sample Post 2</td>
          <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Sample Post 3</td>
          <td><button>Edit</button><button>Delete</button></td>
        </tr>
        <!-- Add more rows as needed -->
      </table>
    </div>
</div>

<%- include('Footer'); -%>

